html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif, serif;
}

body {
    padding-top: 15px;
}

a:active,
a:focus {
    outline-style: none;
    -moz-outline-style: none;
}

.navbar {
    border-top: 4px solid #777;
}

.navbar-default .navbar-nav > li > a {
    padding-left: 0px;
}

#hero {
    margin-top: 50px;
}

img {
    height: 295px;
    width: auto;
}

.hero-text h4 {
    color: #999;
    margin-top: 20px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
/* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    margin-top: 10px;
    text-align: center;
    height: 40px;
}
