html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif, serif;
}

body {
    padding-top: 85px;
}

a:active,
a:focus {
    outline-style: none;
    -moz-outline-style: none;
}

.btn {
    border: none;
}

.hero-image .row {
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar {
    border-top: 4px solid #777;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

img {
    height: 500px;
    width: auto;
}

.hero-text h4 {
    color: #999;
    margin-top: 20px;
}

/* CSS formatting for topic.html */
div.grid__img {
  font-size: 3vw;
  color: black;
}

a:hover {
  color: grey
}

.articleTitle {
  background: rgba(255,255,255,0.4)
}

h3 {
  font-size: 2em !important
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
/* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    margin-top: 10px;
    text-align: center;
    height: 40px;
}

/* Big tablets to 1023px (width smaller than the 1140px row */
@media only screen and (min-width: 1200px) {
}

/* Small tablets to big tablets from 768 to 1023px */
 @media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {
    img {
        width: 90vw;
        height:auto;
    }
}

/*CSS FOR ARTICLE.HTML STARTS*/
#article-body img {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

#article-body {
  text-align: justify;
}

#article-body figcaption {
  font-style: italic;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Reem Kufi', sans-serif;
}

#tldr li {
  text-align: justify;
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  border-left: 3px solid black;
  margin-top: 40px;
}

#topics li {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  border: 2px solid black;
  margin: 10px;
}

#topics-list li {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  border: 2px solid black;
  margin: 10px;
}

#source {
  margin: 20px 0 60px 0;
}

#source a {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.5em;
}

ul#topics {
  padding: 0 60px 0 60px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/*CSS FOR ARTICLE.HTML ENDS*/

/*SEARCH BAR STYLING*/
#search {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.search {
  width: 10%;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
}

.query-box {
  /*position: relative;
  align: top;*/
  /*z-index: 1;*/
  /*padding: 5px*/
}

.search-box {
  color: #fff;
  height: 30px;
  width: 200px;
  align: top;
}

.inactive .introduction-text {
  max-height: 99em;
  opacity: 1;
}

.introduction-text {
  max-height: 0em;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.search-box h1 {
`font-family: 'Reem Kufi', sans-serif;
  font-size: 1.5em;
  margin: 1em 0 0 0;
  line-height: 1;
  font-weight: normal;
}

.cancel {
  display: inline-block;
  vertical-align: left;
  width: 1em;
  height: 1em;
  margin-top: absolute;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  /*background: url("cancel.png") no-repeat;*/
  background-size: contain;
  transform: translate(0em, 0);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.inactive .cancel {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transform: translate(2em, 0);
}

.search-form {
  display: inline-block;
  vertical-align: middle;
  /*width: calc(80% - 10em);*/
  ;
}

.search-form input.inactive {
  border: 1px solid black;
  font-size: 1.25em;
  max-width: 18em;
  margin-left: 0px;
  padding: 0.6em;
}

.main.inactive .search-form input {
  border: 2px solid black;
  font-size: 1.25em;
  max-width: 12em;
  /*padding: 0.6em;*/
}

.search-form input {
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
  width: 1100px;
  /*max-width: 900px;*/
  /*max-height: 300px;*/
  font-size: 5.5em;
  background: white;
  opacity: 0.9;
  transition: all 0.3s;
  color: black;
  border: solid 1px transparent;
  border-bottom: solid 1px #666;
  margin-bottom: 0em;
  margin-left: -515px;
  outline: none;
}

/* CSS Styling for home.html */
div.homepage {
  background-image:url('../img/home-img.jpg');
  background-position: 50% 70%;
  background-size: cover;
  color: white;
  font-family: 'Reem Kufi';
  height: 80%;
  opacity: 0.8;
  padding: 10%;
}

box {
  background: #E5BC00;
}

a:hover {
  color: grey;
  transition: all 0.5s;
}

main.container {
  font-family: 'Reem Kufi';
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0
}

.flex-1 {
  flex: 1;
  border: 5px solid white;
  padding: 20px;
}

.flex-2 {
  flex: 2;
  border: 5px solid white;
  padding: 20px
}

.flex-3 {
  flex: 3;
  border: 5px solid white;
  padding: 20px
}

blockquote {
  border-left: 5px solid lightgrey;
  padding-left: 10px;
}

.scrollindicator {
  width: 100%;
  height: 8px;
  display: block;
  border: none;
  z-index: 500;
  background: red;
  color: red;
  }

progress.scrollindicator,
div.scrollindicator {
  margin-bottom: 20px;
  position: fixed;
  -moz-animation: neon1 1.5s ease-in-out infinite }

progress.scrollindicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-animation: neon1 1.5s ease-in-out infinite  }
  progress.scrollindicator::-webkit-progress-bar {
  background-color: transparent;
  -moz-animation: neon1 1.5s ease-in-out infinite  }
  progress.scrollindicator::-webkit-progress-value {
    background-color: #337ab7;
    -moz-animation: neon1 1.5s ease-in-out infinite  }
  progress.scrollindicator::-moz-progress-bar {
    background-color: #337ab7;
  -moz-animation: neon1 1.5s ease-in-out infinite  }

.scrollindicator-nohtml5 {
  width: 100%;
  height: 8px;
  display: block;
  border: none;
  z-index: 500;
  background: red;
  color: red;
-moz-animation: neon1 1.5s ease-in-out infinite  }
  .scrollindicator-nohtml5 span {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    background: #337ab7;
  -moz-animation: neon1 1.5s ease-in-out infinite  }
  .animated .scrollindicator-nohtml5 span {
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
  -moz-animation: neon1 1.5s ease-in-out infinite  }

/*# sourceMappingURL=style.css.map */
